@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    background: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    
}
.linkcard{
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr 1fr;
}